/* Basic Style */

body {
    background: rgb(166, 188, 235);
    color: #333;
    font-family: Helvetica;
}

.container {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

li * {
    float: left;
}

li,
h3 {
    clear: both;
    list-style: none;
}

input,
button {
    outline: none;
}

button {
    background: none;
    border: 0px;
    color: #fff;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Helvetica;
    cursor: pointer;
}

button:hover {
    color: #333;
}


/* New item style */

.item-form {
    margin: 40px 0px;
}

.item-input {
    width: 250px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
}

.add-button {
    background-color: #b2e044;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.2rem;
}


/* Todo items */

.items {
    min-width: 100px;
}


/* Each line of item style */

.item {
    background-color: #fff;
    padding: 10px;
    font-size: 1.1rem;
    width: 350px;
    margin-top: 10px;
}


/* In order to round off the edges */

.item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


/* Item Buttons Style */

.checkbox {
    margin-right: 10px;
}

.delete-button {
    float: right;
    background-color: #dc143c;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 5px;
    margin-left: 10px;
    margin-top: -3px;
    font-size: 1.2rem;
}

.edit-button {
    float: right;
    background-color: #f7a919;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 5px;
    margin-left: 5px;
    margin-top: -3px;
    font-size: 1.2rem;
}

.checked {
    text-decoration: line-through;
}


/* End */